.friends-div{
    width: 55%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.friends-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    margin: 5px;
}
.friends-header h6{
    margin-right:5px;
    margin-left:5px;
    margin-top: 5px;
}
.friend-list-div{
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
}
.friend-item-header h6{
    margin-left: 10px;
}
.btn-back{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top:0;
    height: 30px;
    width: 30px;
}
.back-icon{
    width: 70%;
    height: 70%;
}
.search-control{
    width: 80%;
    height: 30px;
    margin-right:5px;
    border: none;
    background: transparent;
    outline: transparent;
}
.btn-search-friend{
    margin-right: auto;
}
.friend-item-div{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 1px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
}
.friend-item-div:hover{
    background: rgb(243, 243, 243);
}

@media screen and (max-width: 600px) {
    .friends-div{
        width: 100%;
    }
}