.menu-div{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background:rgb(255, 255, 255);
    display: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-shadow: 1px 1px 8px grey;
    padding-bottom: 40px;
    overflow-y: none;
}
.menu-wrapper{
height:100%;
width: 350px;
position: absolute;
z-index: 2;
}
.gender_age{
    display: flex;
    width: 100%;
    margin:0;
}
.profile-div{
    display: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
}
.profile-div h3{
    margin-top: 0;
}

.user-profile{
    width: 130px;
    height: 130px;
    margin-top:5px;
}
.profile-btn{
    width: 100%;
    height: 40px;
    border-right: none;
    border-left: none;
    padding-left: 5px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    outline: none;
}
.btn-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.user-info-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:33px;
    width: auto;
}
.user-info-div p{
    padding-top: 15px;

}
.profile-text{
    width: auto;
    border:0;
    height: auto;
    outline: none;
    text-align: center;
}
.back-btn{
    background: transparent;
    border:0;
    outline: none;
}
.info-div{
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    font-size: 15px;
    width: 100%;
}
.btn-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    width: 100%;
}
.text-field{
    width: 80%;
    margin-left:8px;
    height: 40px;
    border:none;
    outline: none;
    background: transparent;
}
.edit-form label{
    padding-top: 10px;
    margin-left: 50px;
    color: rgb(90, 92, 92);
}
.age-box{
    width: 50px;
    margin-left:5px;
    margin-right: 5px;
    background: transparent;
    outline: none;
    height: 36px;
    text-align: center;
}
.gender-box{
    width: 80px;
    margin-left:5px;
    margin-right: 5px;
    background: transparent;
    outline: none;
    height: 36px;
}
.btn-save{
    background: rgb(71, 151, 241);
    border:none;
    outline: none;
    color:white;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}
.btn-cancel{
    background: rgb(219, 38, 38);
    border:none;
    outline: none;
    color:white;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    border-radius: 2px;
}

.edit-form{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width:100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.edittable{
    
}
@media screen and (max-width: 500px){
    .menu-wrapper{
        width: 100%;
        height: 100%;
    }
}